[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]
bumpversion = "*"

[packages]
click = "*"
aiohttp = "*"
sockjs = "*"
pyserial-asyncio = "*"

[requires]
python_version = "3.6"
